[package]
name = "cargo-near"
version = "0.1.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"
rust-version = "1.56.0"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/near/cargo-near"
description = """
Cargo extension for building Rust smart contracts on NEAR
"""

[dependencies]
anyhow = "1.0"
cargo_metadata = "0.14"
clap = { version = "3.2", features = ["derive", "env"] }
colored = "2.0"
env_logger = "0.9"
log = "0.4"
toml = "0.5"
semver = "1.0"
serde_json = "1.0"
symbolic-debuginfo = "8.8"
schemars = "0.8"
near-abi = { version = "0.1.0-pre.0", features = ["__chunked-entries"] }
libloading = "0.7.3"
zstd = "0.11"
