[package]
name = "cargo-near"
version = "0.8.1"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"
rust-version = "1.78.0"
description = "Cargo extension for building Rust smart contracts on NEAR"
readme = "README.md"
repository = "https://github.com/near/cargo-near"
license = "MIT OR Apache-2.0"
keywords = ["cargo", "near", "contract", "abi", "build"]
categories = [
    "development-tools",
    "development-tools::cargo-plugins",
    "development-tools::build-utils",
    "command-line-utilities",
]

[package.metadata.wix]
upgrade-guid = "FFBAE83D-C3FA-45DD-9F19-C8F312E905C5"
path-guid = "4A9FB601-2F10-48F8-BBC0-B467169D6BAD"
license = false
eula = false

[dependencies]
cargo-near-build = { version = "0.1.0", path = "../cargo-near-build" }
camino = "1.1.1"
cargo_metadata = "0.18.1"
clap = { version = "4.0.18", features = ["derive", "env"] }
colored = "2.0"
env_logger = "0.11.5"
log = "0.4"
rustc_version = "0.4"
serde = "1.0.197"
serde_json = "1.0"
schemars = "0.8"
near-abi = { version = "0.4.0", features = ["__chunked-entries"] }
zstd = "0.13"
color-eyre = "0.6"
inquire = "0.7"
strum = { version = "0.24", features = ["derive"] }
strum_macros = "0.24"
linked-hash-map = { version = "0.5", features = ["serde_impl"] }
names = { version = "0.14.0", default-features = false }
derive_more = "0.99.9"
shell-words = "1.0.0"
interactive-clap = "0.3"
interactive-clap-derive = "0.3"
near-cli-rs = { version = "0.14.0", default-features = false }
dunce = "1"
tempfile = "3.10.1"
git2 = "0.19"
home = "0.5.9"
pathdiff = { version = "0.2.1", features = ["camino"] }
unix_path = "1.0.1"
url = { version = "2.5.0", features = ["serde"] }
tmp_env = "0.1.1"

[target.'cfg(target_os = "linux")'.dependencies]
nix = { version = "0.29.0", features = ["user", "process"] }

[features]
default = ["ledger"]
ledger = ["near-cli-rs/ledger"]
