[package]
name = "cargo-near"
version = "0.1.0"
edition = "2021"
rust-version = "1.56.0"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/near/cargo-near"
description = """
Cargo extension for building Rust smart contracts on NEAR.
"""

[dependencies]
anyhow = "1.0"
cargo_metadata = "0.14"
clap = { version = "3.2", features = ["derive", "env"] }
colored = "2.0"
env_logger = "0.9"
log = "0.4"
prettyplease = "0.1"
toml = "0.5"
serde_json = "1.0"
symbolic-debuginfo = "8.8"
syn = "1.0"
quote = "1.0"
schemars = "0.8"

[dependencies.near-abi]
git = "https://github.com/near/near-abi-rs"
branch = "miraclx/init"
features = ["__chunked-entries"]

[dev-dependencies]
function_name = "0.3"
proc-macro2 = "1.0"
