[package]
name = "cargo-near-integration-tests"
version = "0.1.0"
edition = "2021"
publish = false

[dev-dependencies]
anyhow = "1.0"
cargo-near = { path = "../cargo-near" }
function_name = "0.3"
near-sdk = { version = "4.1.0-pre.1", features = ["abi"] }
git2 = "0.14"
prettyplease = "0.1"
proc-macro2 = "1.0"
schemars = "0.8"
serde_json = "1.0"
syn = "1.0"
tempfile = "3.3"
quote = "1.0"

[dependencies.near-abi]
git = "https://github.com/near/near-abi-rs"
branch = "miraclx/init"
