[package]
name = "cargo-near-integration-tests"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
const_format = "0.2"
near-abi = "0.4.0"

[dev-dependencies]
borsh = { version = "1.0.0", features = ["derive", "unstable__schema"] }
camino = "1.1.1"
cargo-near = { path = "../cargo-near" }
color-eyre = "0.6"
function_name = "0.3"
git2 = "0.19"
minifier = "0.3"
prettyplease = "0.2"
schemars = "0.8"
serde_json = "1.0"
syn = "2"
tempfile = "3.3"
tokio = "1.0"
quote = "1.0"
near-workspaces = "0.10.1"
zstd = "0.13"
env_logger = "0.11"
log = "0.4"
