[package]
name = "cargo-near-integration-tests"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
const_format = "0.2"
near-abi = "0.3.0"

[dev-dependencies]
borsh = "0.9"
camino = "1.1.1"
cargo-near = { path = "../cargo-near" }
color-eyre = "0.6"
clap = "4.0.18"
function_name = "0.3"
git2 = "0.14"
minifier = "0.2.2"
prettyplease = "0.1"
proc-macro2 = "1.0"
schemars = "0.8"
serde_json = "1.0"
syn = "1.0"
tempfile = "3.3"
tokio = "1.0"
quote = "1.0"
workspaces = "0.4.1"
zstd = "0.11"
