[package]
name = "cargo-near-integration-tests"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
const_format = "0.2"
cargo-near-build = { version = "0.1.1", path = "../cargo-near-build" }
cargo-near = { path = "../cargo-near" }
colored = "2.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[dev-dependencies]
borsh = { version = "1.0.0", features = ["derive", "unstable__schema"] }
camino = "1.1.1"
cargo-near = { path = "../cargo-near" }
cargo-near-build = { version = "0.1.1", path = "../cargo-near-build" }
color-eyre = "0.6"
function_name = "0.3"
git2 = "0.19"
minifier = "0.3"
prettyplease = "0.2"
schemars = "0.8"
serde_json = "1.0"
syn = "2"
tempfile = "3.3"
tokio = "1.0"
quote = "1.0"
near-workspaces = "0.14.0"
zstd = "0.13"
